.nav-component{
    display: flex;
    align-items: center;
    padding: 0px 100px;
    height: 90px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.logo{
    padding-right: 700px;
}
.title{
    font-family: Poller One;
    font-weight: 800;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0;
    text-align: center;
}
.login{
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    width:228px;
    height: 68px;
    background-color: #E4508F;
    align-items: center;
    justify-content: center;
}
.login-text{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size:18px;
    line-height: 25px;
    color: white;
}